<div class="nav-select-container">
  <select [disabled]="disabled" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)">
    <option [disabled]="true" [ngValue]="null" *ngIf="!!options">-- select {{name}} --</option>
    <option *ngFor="let o of options" [ngValue]="o">{{o.display}}</option>
  </select>
</div>
