<div class="nav-container">

  <fieldset>
    <legend>Navigation</legend>
    <table>
      <tbody>

      <tr>
        <th>Client Name</th>
        <th>Account Name</th>
        <th>Actions</th>
      </tr>

      <tr>
        <td>
          <app-nav-select name="client"
                          [options]="clients"
                          [disabled]="!(clients.length > 0)"
                          [(value)]="client"
                          (valueChange)="clientSelected($event)"></app-nav-select>
        </td>
        <td>
          <app-nav-select name="account"
                          [options]="accounts"
                          [disabled]="!(client && accounts && accounts.length > 0)"
                          [(value)]="account"></app-nav-select>
        </td>
        <td>
          <app-nav-actions [viewEnabled]="!!client && !!account"
                           [resetEnabled]="true"
                           (resetClicked)="reset()"
                           (viewClicked)="viewAccount()"></app-nav-actions>
        </td>
      </tr>

      </tbody>
    </table>
  </fieldset>
</div>
