<div class="action-container">
  <div class="action-button">
    <button type="button" [disabled]="!viewEnabled" (click)="viewClicked.emit()">view</button>
  </div>
  <div class="action-button">
    <button type="button" [disabled]="!editEnabled" (click)="editClicked.emit()">edit</button>
  </div>
  <div class="action-button">
    <button type="button" [disabled]="!deleteEnabled" (click)="deleteClicked.emit()">delete</button>
  </div>
  <div class="action-button">
    <button type="button" [disabled]="!resetEnabled" (click)="resetClicked.emit()">reset</button>
  </div>
</div>
