<div class="readme">
  <h2>Overview</h2>
  <p>
    Acme needs an application that will display each clients' account details. Someone has already provided a basic home
    screen that will facilitate navigation to each account detail page.
  </p>

  <p>
    <em>No changes are required for the home screen or navigation.</em>
  </p>

  <p>
    To view the home screen
  </p>

  <ul>
    <li>start the angular app</li>
    <li>navigate to http://localhost:4200</li>
  </ul>

  <p>
    When a user clicks on the `view` button on the home screen, they will navigate to your Account Details screen.
  </p>

  <h2>Provided</h2>

  <p>
    You will be provided mock services that will return data for <code>client / account / transactions</code>. The API
    of
    these
    services will mock interaction with an HTTP back-end.
  </p>

  <p>
    <em>The existing methods on the services should not be modified.</em>
  </p>

  <ul>
    <li><code>AcmeClientService</code></li>
    <li><code>AcmeAccountService</code></li>
    <li><code>AcmeTransactionService</code></li>
  </ul>

  <h2>Assumptions</h2>

  <p>
    This is the beginning of a much larger enterprise application. Many developers will be contributing to this
    application over time, and it is important that they be able to add features, reuse features, and ensure
    correctness.
  </p>

  <h2>Requirements</h2>
  <ul>
    <li>navigate from home screen to account detail screen</li>
    <li>client summary section</li>
    <li>account summary section</li>
    <li>account transaction details table</li>
    <li>all negative amounts need to be displayed within parentheses and in red</li>
    <li>transactions should be sorted by date oldest-to-newest</li>
    <li>all dates are displayed `year-month-day` by default</li>
    <li>transaction list should be searchable by amount and description</li>
    <li>tests should pass</li>
  </ul>

  <p>
    See Mockup: (acme-account.png)
    <br/>
    <em>MVP (minimum viable product) layout; style appropriately</em>
  </p>
  <img src="/assets/acme-accounts.svg" title="acme accounts mockup" alt="acme accounts mockup">
</div>

